.haeder{
    margin: 0 2.5rem;
    padding: 0.5rem 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.headerLeft{
    display: flex;
    align-items: center;
}
a > span{
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    color: white;

}
.header__icon{
    margin: 5%;
    max-width: 80px;
    max-height: 10%;
    position: relative;
    
}
a > span:hover{
    color: red;
}
.user__avatar{
    font-size: 2rem;
}